$var1: #fafafa;
$var2: #1657ab;
$var3: #000000;
$var4: #85b657;
$var5: #19263f;

@font-face {
    font-family: PTSans-regular;
    src: url("../fonts/PTSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: PTSans-Bold;
    src: url("../fonts/PTSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
body {
    font-family: PTSans-regular, sans-serif;
}
h2 {
    font-family: PTSans-Bold, sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin: 0;
}
.header,
.nav-link,
.navbar-toggler-icon,
.dropdown-item,
.footer,
.social-icon a {
    color: #ffffff !important;
}
.header {
    background: url("../img/main-bg.png");
    height: 500px;
}
.navbar {
    padding-top: 24px;
    font-size: 16px;
    line-height: 21px;
    &-footer {
        justify-content: center;
    }
}
.nav-link {
    margin-left: 53px;
    &-footer {
        margin-top: 32px;
        margin-right: 25px;
        margin-left: 0;
    }
}
.log-nav-link {
    margin-left: 30px;
}
.nav-link:hover,
.dropdown-item:hover,
.social-icon a:hover {
    color: #ffff00 !important;
}
.nav-link:active,
.dropdown-item:active,
.social-icon a:active {
    color: #ff0000 !important;
}
.dropdown-menu,
.dropdown-item:hover {
    background: none;
}
.login-nav {
    margin-left: 132px;
}
.main-head {
    text-align: center;
    &-title {
        margin: 80px auto;
        font-family: OpenSans, sans-serif;
        font-size: 48px;
        line-height: 58px;
    }
}
.head-text {
    width: 880px;
    margin: 84px auto;
    font-size: 18px;
    line-height: 23px;
}
.main {
    margin-top: 80px;
    &-block {
        width: 340px;
        height: 323px;
        background-color: $var1;
        margin: 30px 10px 82px 10px;
        justify-content: space-around;
    }

}
.icon-01 {
    width: 52px;
    height: 64px;
    margin: 40px auto 25px auto;
}
.icon-02 {
    width: 62px;
    height: 64px;
    margin: 40px auto 25px auto;
}
.icon-03 {
    width: 64px;
    height: 52px;
    margin: 46px auto 31px auto;
}
.icon-04 {
    width: 64px;
    height: 64px;
    margin: 0 auto 25px auto;
}
.learn {
    width: 68px;
    height: 19px;
    margin: 0 auto 30px auto;
    color: $var2;
    font-size: 14px;
}
.text {
    margin: 11px auto 37px auto;
    font-size: 14px;
    line-height: 18px;
    &-01 {
        text-align: center;
    }
    &-02 {
        margin: 30px auto 57px auto;
        font-size: 16px;
        line-height: 21px;
    }
    &-03 {
        margin-bottom: 29px;
    }
}
.view-all {
    display: flex;
    background: none;
    color: $var3;
    width: 231px;
    height: 56px;
    border: 1px solid $var4;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 15px auto 80px auto;
    padding: auto;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    &:hover {
        text-decoration: none;
    }
}
.pictures {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    background-color: $var5;
    height: 238px;
    margin-top: 117px;
}
.social {
    display: flex;
    margin: 26px auto;
    &-icon {
        display: flex;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 25px;
        font-size: 31px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-right: 41px;
    }
}
.copyright {
    font-size: 15px;
    text-align: center;
}

$media: screen;
$feature: max-device-width;
$value1: 1200px;
$value2: 766px;

@media #{$media} and ($feature: $value1)  {
.header {    
    margin-left: 0;
}
.nav-link {
    margin-left: 30px;
}
}

@media #{$media} and ($feature: $value2) {
.header {    
    height: auto;
}
.head-text {
    width: auto;
    margin: 25px auto 25px;
}
.main-block {
    margin: 20px;
}
.footer {
    height: auto;
    &-nav-link {
        margin-top: 15px;
    }
}
}